.field {
    width: 100%;
}

.card {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: white;
}

.card h1 {
    text-align: center;
}

/* .container {
    margin-top: 50px;
} */

.text-center {
    text-align: center;
}

.card button{
    margin: 5px;
}